<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaZw9_ZFPEm0hSFOW9Qbay8Jj3CJZCgWA</string>
	<key>GCM_SENDER_ID</key>
	<string>1012218554009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notes-app-d141a</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-app-d141a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012218554009:ios:55f3f5b4fca190f716fa08</string>
</dict>
</plist>